textarea {
  width: 90%;
}

input {
  width: 90%;
}

img {
  width: 100%;
}
.padding {
  padding-top: 0;
}

.details {
  margin-right: 2em;
  margin-left: 1em;
}

.tab-heading {
  font-weight: bold;
}
.img-studthumbnail {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
