<div class="row shadow" *ngIf="member" style="margin-left: 0px">
    <div class="text-center">
        <h2><strong>Edit Card Info and Add/Edit Photo</strong></h2>
    </div>
    <div class="text-center">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Alert: </strong>You have made changes to the card. Any unsaved changes will be lost
        </div>
    </div>

    <div class="col-sm-4 p-0">
        <div class="card" style="align-items: center">
            <img src="{{member.studentUrl || '../../assets/images/person.png'}}" alt="{{member.firstName}}"
                class="card-img-top img-studthumbnail">
            <div class="card-body text-center">
                <p>
                    <u><strong>-- {{member.firstName}} {{member.lastName}} --</strong></u>
                    <br><strong>{{member.classYear}} {{member.major}} Major</strong>
                    <br><strong>({{member.category}} Category)</strong>
                    <br> from <br>
                    <strong>{{member.ciLocation}}, {{member.stLocation}}</strong>
                    <br> attending <br>
                    <strong><u>{{member.college}}</u></strong>
                    <br>
                    <strong>Last active: {{member.lastActive | date: "MMM dd yyyy"}}</strong>
                </p>

                <div class="btn-group d-flex">
                    <!-- <button class="btn btn-primary mr-2">Possible Fit</button> -->
                    <button [disabled]="!editForm.dirty" form="editForm" type="submit"
                        class="btn btn-info shadow-sm mr-1">Save Card Changes</button>
                    <button class="btn btn-success shadow-sm ml-1" routerLink='/studinfo/edit'>Add/Edit Student
                        Info</button>
                </div>
                <button class="btn btn-primary btn-block shadow-sm mt-2" routerLink='/positionslist'>See
                    positions</button>
            </div>
        </div>
    </div>

    <div class="col-sm-8 p-2">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='Add/Edit Photo'>
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>


            <tab heading='Edit Card Info' class="tab-heading">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMemberCard()">
                    <div class="details mb-3">

                        <div class="form-group">
                            <label>Class Year (click button to update class year)</label>
                            <div class="form-control">
                                <label class="radio-inline mr-2">
                                    <input type="radio" [(ngModel)]="member.classYear" name="classYear"
                                        value="Freshman">
                                    Freshman
                                </label>
                                <label class="radio-inline mr-2">
                                    <input type="radio" [(ngModel)]="member.classYear" name="classYear"
                                        value="Sophomore">
                                    Sophomore
                                </label>
                                <label class="radio-inline mr-2">
                                    <input type="radio" [(ngModel)]="member.classYear" name="classYear" value="Junior">
                                    Junior
                                </label>
                                <label class="radio-inline mr-2">
                                    <input type="radio" [(ngModel)]="member.classYear" name="classYear" value="Senior">
                                    Senior
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" [(ngModel)]="member.classYear" name="classYear"
                                        value="Post-Undergrad">
                                    Post-Undergrad
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="college">
                                College/University (click box to update college/university)
                            </label>
                            <select name="college" id="college" [(ngModel)]="member.college" class="form-control">
                                <option *ngFor="let college of colleges" [value]="college.collegeName">
                                    {{college.collegeName | titlecase}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="category">
                                Major-Category (click box to update major-category)
                            </label>
                            <select name="category" id="category" [(ngModel)]="member.category" class="form-control">
                                <!-- <option class="text-center" value="">-- select college --</option> -->
                                <option *ngFor="let category of categories" [value]="category.categoryName">
                                    {{category.categoryName}}
                                </option>
                            </select>
                        </div>

                        <label>Major (1st re-select major-category then click box to update major</label>

                        <div class=" form-group form-inline">
                            <select (change)="onSelect($event)" class="form-control form-inline mr-2" name="category"
                                style="width: auto">
                                <br>
                                <option class="text-center" #value="">-- 1st Select Major-Category --</option>
                                <option *ngFor="let category of categories" value="{{category.categoryId}}">
                                    {{category.categoryName}}
                                </option>
                            </select>

                            <select class="mr-2 form-control" name="major" id="major" [(ngModel)]="member.major">
                                <option class="text-center" value="">-- 2nd Select Major --</option>
                                <option *ngFor="let major of majors" [value]="major.majorName | titlecase">
                                    {{major.majorName | titlecase}}
                                </option>
                            </select>
                        </div>

                        <div>
                            <button class="btn btn-info mb-3 shadow-sm" routerLink='/categoryliststudents'>If you don't
                                see your new major, click here to add</button>
                        </div>

                        <label><u>
                                Hometown</u> (You need to enter country and state to be able to update city)
                        </label>

                        <div class="form-group">
                            <label for="coLocation">
                                USA or Other country (click box to update country)
                            </label>
                            <select class="form-control" name="coLocation" [(ngModel)]="member.coLocation">
                                <option *ngFor="let coLocation of coLocations" [value]="coLocation.coLocationName">
                                    {{coLocation.coLocationName}}
                                </option>
                            </select>
                        </div>

                        <label>State/Other Country (1st re-select USA or Other Country then click box to update
                            state/country</label>

                        <div class=" form-group form-inline">
                            <select (change)="onSelectCountry($event)" class=" form-control form-inline mr-2"
                                name="coLocation" style="width: auto">
                                <br>
                                <option class="text-center" #value="">--1st select USA/Other--</option>
                                <option class="text-center" *ngFor="let coLocation of coLocations"
                                    value="{{coLocation.coLocationId}}">
                                    {{coLocation.coLocationName}}
                                </option>
                            </select>

                            <select class="mr-2 form-control" name="stLocation" id="stLocation"
                                [(ngModel)]="member.stLocation">
                                <option class="text-center" value="">--2nd State/Country--</option>
                                <option *ngFor="let stLocation of stLocations" [value]="stLocation.stLocationName">
                                    {{stLocation.stLocationName}}
                                </option>
                            </select>
                        </div>

                        <label>City (1st re-select State or Other Country then click box to update city</label>

                        <div class=" form-group form-inline">
                            <select (change)="onSelectState($event)" class=" form-control form-inline" name="stLocation"
                                style="width: auto">
                                <br>
                                <option class="text-center" #value="">--1st State/Other Country--</option>
                                <option *ngFor="let stLocation of stLocations" value="{{stLocation.stLocationId}}">
                                    {{stLocation.stLocationName}}
                                </option>
                            </select>

                            <select class="form-control" name="ciLocation" id="ciLocation"
                                [(ngModel)]="member.ciLocation">
                                <option class="text-center" value="">--2nd Select City--</option>
                                <option *ngFor="let ciLocation of ciLocations"
                                    [value]="ciLocation.ciLocationName | titlecase">
                                    {{ciLocation.ciLocationName}}
                                </option>
                            </select>
                        </div>

                        <div>
                            <button class="btn btn-info shadow-sm mb-2" routerLink='/locationliststudents'>Click if you
                                don't see your Country/State/City</button>
                        </div>

                    </div>
                </form>
            </tab>

        </tabset>
    </div>