<div class="row lists text-center mt-2" *ngIf="members">
    <div class="row welcome text-center">
        <div class="col-12">
            <h2 class="display-4">Student talent applying your filters: {{pagination?.totalItems}}</h2>
        </div>
    </div>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" 
        (ngSubmit)="loadMembers()" autocomplete="off">
        
        <div class="form-group form-inline">
            <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter by Major-Category: </strong></label>
            <div class="form-group">
                <select name="category" 
                [(ngModel)]="userParams.category"
                style="width: auto" 
                class="form-control mr-2">
                <option class="text-center" value="">--Select Category--</option>
                <option *ngFor="let category of categories" 
                    [value]="category.categoryName">
                    {{category.categoryName}}    
                </option>
                </select>
            </div>
            
        <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter by Specific Major: </strong></label>  
            <select (change)="onSelect($event)" 
                class=" form-control mr-2"
                name="category"
                style="width: auto">
                <option class="text-center mb-2" #value="">--1st select category--</option>
                <option *ngFor="let category of categories"
                    value="{{category.categoryId}}">
                    {{category.categoryName}}
                </option>
            </select>
        
            <select class="mr-2 mt-1 mb-1 form-group form-control" name="major"
                [(ngModel)]="userParams.major"
                style="width: auto">
                <option class="text-center" value="">--2nd select major--</option>
                <option *ngFor="let major of majors"
                    [value]="major.majorName">
                    {{major.majorName | titlecase}}
                </option>
            </select>
        </div>

        <div class="form-group form-inline">
            <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter by College: </strong></label>  
            <select name="college" 
                [(ngModel)]="userParams.college"
                style="width: auto" 
                class="form-control mr-2 mb-2">
                <option class="text-center" value="">--Select College--</option>
                <option *ngFor="let college of colleges" 
                    [value]="college.collegeName">
                    {{college.collegeName | titlecase}}    
                </option>
            </select>
       
        <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter by Class Yr: </strong></label>  
           <select name="classYear" 
                [(ngModel)]="userParams.classYear"
                style="width: auto" 
                class="form-control mb-2 mr-2">
                <option value="">--Select Class Yr--</option>
                <option *ngFor="let classYear of classYearList" 
                    [value]="classYear.value">
                    {{classYear.display}}    
                </option>
            </select>
            </div>
            <div class="form-group form-inline">
                        <button class="btn btn-success mr-2" type="submit">Apply Filters</button>
                        <button (click)="resetFilters()" class="btn btn-info ml-1 mr-2" type="submit">Reset Filters</button>
                    <!-- </div>
                </div>
            </div>
        </div>      -->
       
        <div class="text-center">
            <label class="mr-2 ml-2 filter" style="font-size: 1.5em"><strong> Sorts: </strong></label>
        </div>
        
        <!-- <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center mt-2"> -->
                        <button 
                            type="button"
                            class="btn btn-primary mr-2"
                            name='orderByMajor'
                            (click)="loadMembers()"
                            btnRadio='major'
                            [(ngModel)]="userParams.orderByMajor">
                            Order by Major
                        </button>
                        <button 
                            type="button"
                            class="btn btn-info ml-1 mr-2"
                            name='orderByCiLocation'
                            (click)="loadMembers()"
                            btnRadio='cilocation'
                            [(ngModel)]="userParams.orderByCiLocation">
                            Order by Hometown
                        </button>
                        </div>
    </form>
</div>
    
    


<div class="container-fluid mt-2">
    <div class="row">
        <div *ngFor="let member of members" class="col-lg-3 col-md-6">
            <app-member-search-card [member]="member"></app-member-search-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>
