<div class="row lists text-center mt-3">
    <div class="col-12">
        <h2 class="display-4">Talent pool applying your filters: {{pagination?.totalItems}} students</h2>
    </div>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" 
        (ngSubmit)="loadMembers()" autocomplete="off">
        

        <div class="form-group inline">
            <label class="mr-2 ml-auto">Major: </label>
           <select name="major" 
                [(ngModel)]="userParams.major"
                style="width: auto" 
                class="form-control">
                <option value="">--Select Major--</option>
                <option *ngFor="let major of majorList" 
                    [value]="major.value">
                    {{major.display}}    
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="mr-2 ml-2">Hometown: </label>
           <select name="location" 
                [(ngModel)]="userParams.location"
                style="width: auto" 
                class="form-control">
                <option value="">--Select Hometown--</option>
                <option *ngFor="let location of locationList" 
                    [value]="location.value">
                    {{location.display}}    
                </option>
            </select>
        </div>
    
        <div class="form-group">
            <label class="ml-2 mr-2">Class Year: </label>
           <select name="classYear" 
                [(ngModel)]="userParams.classYear"
                style="width: auto" 
                class="form-control">
                <option value="">--Select Class Year--</option>
                <option *ngFor="let classYear of classYearList" 
                    [value]="classYear.value">
                    {{classYear.display}}    
                </option>
            </select>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center mt-2">
                        <button class="btn btn-primary ml-2 mr-2" type="submit">Apply Filters</button>
                        <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button>
                    </div>
                </div>
            </div>
        </div>     

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center mt-2">
                        <button 
                            type="button"
                            class="btn btn-primary mr-2"
                            name='orderByMajor'
                            (click)="loadMembers()"
                            btnRadio='major'
                            [(ngModel)]="userParams.orderByMajor">
                            Order by Major
                        </button>
                        <button 
                            type="button"
                            class="btn btn-primary mr-2"
                            name='orderByLocation'
                            (click)="loadMembers()"
                            btnRadio='location'
                            [(ngModel)]="userParams.orderByLocation">
                            Order by Hometown
                        </button>
                    </div>
                </div>
            </div>
        </div>     
    </form>
</div>
    
    


<div class="container-fluid mt-3">
<div class="row">
    <div *ngFor="let member of members" class="col-lg-3 col-md-6">
        <app-member-search-card [member]="member" [position]="positions" ></app-member-search-card>
        
    </div>
</div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>
