<div class="row shadow" *ngIf="member"  style="margin-left: 0px">
    <div class="col-sm-4 p-0">
            <div class="card" style="align-items: center">
            <img src="{{member.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{member.empName}}"
                class="card-img-top img-studthumbnail">
            <div class="card-body text-center">
                <!-- <div class="mb-1" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div> -->
                        <u><strong>{{member.empName}}</strong></u> <br>
                        Number of employees: {{member.employeeNum}} 
                        <br>Industry: {{member.empIndustry}} 
                        <br>Headquarters: {{member.location}}
                        <!-- <br class="mt-3">Website: <a href="https://www.iowacollegefoundation.org/"> Link</a> -->
                        
                        <div class="card-footer">
                            <div class="btn-group d-flex">
                                <button class="btn btn-info btn-block mb-1" routerLink='/empmemberslistsuper'>Back to employer list</button>
                            </div>
                        </div>
                        
            </div>
        </div>
    </div>
    
    <div class="col-sm-8 p-2">
        <tabset class="member-tabset" #memberTabs>
            
            <tab heading='Company Info' class="tab-heading">
                <div class="details">
                <h4 class="mt-2"><strong>About {{member.empName}}</strong></h4> 
                <p>{{member.companyDescription}}</p>
                <h4 class="mt-2"><strong>Why work for our company?</strong></h4> 
                <p>{{member.whyWork}}</p>
                <h4 class="mt-2"><strong>Website</strong></h4> 

                <button type="button"class="btn btn-success mt-2" (click)="goToLink()">Go to Company Website</button>
               
            </div>            
            </tab>

            <tab heading='Current Positions'>
                
                <div class="row shadow mt-3 " *ngIf="member">
                    <div class="positions p-0" style="text-align: center;">
                        <!-- <h3>Id: {{member.appUserId}}</h3>
                        <h3>Username: {{member.username}}</h3> -->
                
                        <h2><strong>Current positions for {{member.empName}}</strong></h2>
                       
                        <table class="table table-striped col-sm-4 col-lg-8 col-md-6 m-auto">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Position Type</th>
                                    <th>See Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let position of positions">
                                    <!-- <td> <img src="{{position.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{position.empName}}"></td> -->
                                    <td>{{position.positionName}}</td>
                                    <td>{{position.positionType}}</td>
                                    <td>
                                        <button class="btn btn-success btn-sm shadow-sm mr-2 mb-2" routerLink='/newpositiondetail/{{position.positionId}}'>Details</button>
                                      
                                    </td>
                                </tr>
                            </tbody>
                           
                        </table>
                
                    </div>
                </div>

            </tab>
            <tab heading='Messages' >
                <p>Super detail</p>
                <div class="p-3 font" style="font-size:large"><strong>Remember to specify which position at {{member.empName}} you are messaging about:</strong></div>
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>

        </tabset>
    </div>



