.signup {
    background-color: #eff6ff;
    padding: 60px;
  }
  
  .login {
    background-color: #ffffff;
    padding: 20px 30px;
  }
  
  @media screen and (max-width: 600px) {
    .signup {
      background-color: #eff6ff;
      padding: 30px;
    }
  }
  
  .card-header > h1,
  .card-header > h2,
  .card-header > h3 {
    color: white;
  }
  
  .card-header {
    height: 42;
    padding: 4px 10px !important;
    background-color: #416796 !important;
  }
  
  .footer {
    text-align: center;
  }
  