<section class="signup" *ngIf="registerCode">
    <div class="card-header col-lg-4 m-auto">
     <h3 style="text-align: center;">Please enter the register code for portal admins</h3>
   </div>
   <div class="login col-lg-4 m-auto shadow-lg">

     <form [formGroup]='preregisterPortalAdminForm' (ngSubmit)="preregisterPortalAdminForm.valid && preregisterPortalAdmin()"
       autocomplete="off">

       <div class="form-group">
         <input [class.is-invalid]='preregisterPortalAdminForm.get("registerCode").errors 
             && preregisterPortalAdminForm.get("registerCode").touched' formControlName='registerCode'
           class="form-control shadow-sm" type="text" 
           pattern="({{registerCode.registerCodeNameOwner}})" 
           placeholder="Register Code">
         <div *ngIf="preregisterPortalAdminForm.get('registerCode').hasError('required')" class="invalid-feedback">Please
           enter a register code</div>
         <div *ngIf="preregisterPortalAdminForm.get('registerCode').hasError('pattern')" class="invalid-feedback">If you do
           not have a valid register code, please email info@IowaCollegeFoundation.org or click email button below.</div>
       </div>

       <div class="row" *ngIf="validationErrors.length > 0">
         <ul class="text-danger">
           <li *ngFor="let error of validationErrors">
             {{error}}
           </li>
         </ul>
       </div>

       <div class="btn-group d-flex">
         <!-- <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button> -->
         <button [disabled]="!preregisterPortalAdminForm.valid" type="submit"
           class="btn btn-info mr-1 shadow-sm">Register</button>
         <input type="button" class="btn btn-secondary shadow-sm ml-1" (click)="cancel()" value="Cancel" />
       </div>

     <div class="container">
       <div class="row">
         <div class="col text-center">
           <a style="align-items: center;" class="btn btn-success btn-sm mt-4 m-auto" href="mailto:info@iowacollegefoundation.org">Send Email</a>
         </div>
       </div>
     </div>
     
   </form>
   
   </div>

</section>

