<div class="card mb-4" *ngIf="cardMember">

    <!-- <div class="card-header bg-success">
    </div> -->

    <div class="card-img-wrapper" *ngIf="cardMember.appUserType == 'ColStudent'">
        <img src="{{cardMember.studentUrl || '../../assets/images/coluser.PNG' }}" alt="{{cardMember.firstName}}" class="card-img-top">
    </div>


    <div class="card-body padding p-2">
        <h6 *ngIf="cardMember.appUserType == 'ColStudent'" class="card-title text-center mb-1">
            <u><strong>{{cardMember.firstName}}</strong></u>
        </h6>

        <ng-container *ngIf="cardMember.appUserType == 'ColStudent'" class="card-text text-muted text-center">
        <p class="text-center">
            {{cardMember.classYear}} {{cardMember.major}} major
            <br>
            from {{cardMember.location}}
            <br>
            attending {{cardMember.college}}
        </p>
        <button class="btn btn-info btn-block shadow-sm mr-2 mb-2" routerLink='/userlogin'>
           Employers click here to see student details
        </button>
        </ng-container>

</div>



