@media (min-width: 576px) {
    .card-columns {
      column-count: 2;
    }
  }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 3;
    }
  }
  
  @media (min-width: 992px) {
    .card-columns {
      column-count: 4;
    }
  }
  
  @media (min-width: 1200px) {
    .card-columns {
      column-count: 5;
    }
  }
  
  .display-4 {
    font-size: 180%;
    font-weight: bold;
  }
  
  .lists {
    background-color: lightblue;
    width: 98%;
  }
  
  .card-header {
    height: 1.5em;
  }
  