<div class="row shadow mt-3" *ngIf="coLocation">
    <div class="positions p-0" style="text-align: center;">

        <div>
        
        <ng-container *ngIf="coLocation.coLocationName == 'USA'">
            <h3 style="text-align: center" class="mb-3"><strong>Current States:</strong></h3>
            <!-- <th class="p-2"><h5><strong>Click button to see cities</strong></h5></th> -->
        </ng-container> 

        <ng-container *ngIf="coLocation.coLocationName == 'Other'">
            <h3 style="text-align: center" class="mb-3"><strong>Current Countries:</strong></h3>
            <!-- <th class="p-2"><h5><strong>Click button to see cities</strong></h5></th> -->
        </ng-container>

        <div class="scroll text-center col-12">
        <table class="table col-2-lg col-3-md col-12-sm" style="text-align: center;">
         
            <thead>
                
                <ng-container *ngIf="coLocation.coLocationName == 'USA'">
                    <tr>
                        <th class="p-2"><h5><strong>States</strong></h5></th>
                        <th class="p-2"><h5><strong>Click button to see cities</strong></h5></th>
                    </tr>
                </ng-container>
                <ng-container *ngIf="coLocation.coLocationName == 'Other'">
                    <tr>
                        <th class="p-2"><h5><strong>Countries</strong></h5></th>
                        <th class="p-2"><h5><strong>Click button to see/add cities</strong></h5></th>
                    </tr>
                </ng-container>
            
            </thead>    

            <tbody>
                <tr *ngFor="let stLocation of stLocations">
                    <td><h5>{{stLocation.stLocationName}}</h5></td>
                    <td>
                        <button class="btn btn-primary btn-sm shadow-sm mr-2 mb-2" routerLink='/addcilocationsstudents/{{stLocation.stLocationId}}'>See/Add Cities</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

</div>

    <div class="container mt-3 col-4">
        
        <ng-container *ngIf="coLocation.coLocationName == 'USA'">
            <h3 class="text-center"><strong>Add State</strong></h3>
        </ng-container>

        <ng-container *ngIf="coLocation.coLocationName == 'Other'">
            <h3 class="text-center"><strong>Add Country</strong></h3>
        </ng-container>
        
        <form #stLocationForm="ngForm" (ngSubmit)="addStLocation()" autocomplete="off">
            <div class="input-group" >
                
                <ng-container *ngIf="coLocation.coLocationName == 'USA'">
                    <input name="stLocationName" required [(ngModel)]="stLocationName" type="text" 
                        class="form-control input-sm long-input mr-2 text-center" placeholder="Add 2-letter abbrev.">
                    <input name="stLocationSortName" required [(ngModel)]="stLocationSortName" type="text" 
                        class="form-control input-sm long-input text-center" placeholder="Add same here">
                        <div class="input-group-append">
                            <button [disabled]="!stLocationForm.valid || loading" class="btn btn-info ml-2 mb-3 shadow-sm" style="width:auto" >Add State
                                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                            </button>
                            </div>
                </ng-container> 

                <ng-container *ngIf="coLocation.coLocationName == 'Other'">
                    <input name="stLocationName" required [(ngModel)]="stLocationName" type="text" 
                        class="form-control input-sm long-input mr-2" placeholder="Add name of country">
                    <input name="stLocationSortName" required [(ngModel)]="stLocationSortName" type="text" 
                        class="form-control input-sm long-input text-center" placeholder="Add the same">
                        <div class="input-group-append">
                            <button [disabled]="!stLocationForm.valid || loading" class="btn btn-info ml-2 mb-3 shadow-sm" style="width:auto" >Add Country
                                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                            </button>
                            </div>
                </ng-container> 
                    
                    
                    <!-- <div class="input-group-append">
                    <button [disabled]="!stLocationForm.valid || loading" class="btn btn-info ml-2 mb-3 shadow-sm" style="width:auto" >Add State
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div> -->
            </div>
        </form>
    </div>

    <div class="text-center col-12">
        <button class="btn btn-info btn-sm shadow-sm mt-4 mb-3" routerLink="/step1registerstud">Back to Step 1</button>
    </div>

        
        <!-- <div class="text-center col-12">
            <button class="btn btn-success btn-sm shadow-sm mt-3 mb-3" routerLink="/positionslist">Back to Positions</button>
        </div> -->
    </div>
    </div>




