<div class="row shadow mt-3 " *ngIf="coLocations">
    <div class="positions p-0" style="text-align: center;">

        <div>
        <h3 style="text-align: center"><strong>USA and "Other Countries"</strong></h3>

        <table class="table col-4" style="text-align: center;">
          
            <thead>
                <tr>
                    <th class="p-2"><h5><strong>Country</strong></h5></th>
                    <th class="p-2"><h5><strong>See states/other countries</strong></h5></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coLocation of coLocations">
                    
                    <ng-container *ngIf="coLocation.coLocationName == 'USA'"> 
                        <td>{{coLocation.coLocationName}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm shadow-sm mr-2 mb-2" routerLink='/addstlocationsstudents/{{coLocation.coLocationId}}'>See States</button>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="coLocation.coLocationName == 'Other'"> 
                        <td>{{coLocation.coLocationName}} countries</td>
                        <td>
                            <button class="btn btn-primary btn-sm shadow-sm mr-2 mb-2" routerLink='/addstlocationsstudents/{{coLocation.coLocationId}}'>See Countries</button>
                        </td>
                    </ng-container>

                </tr>
            </tbody>
       
        </table>
    </div>


        <div class="text-center col-12">
            <button class="btn btn-info btn-sm shadow-sm mt-4 mb-3" routerLink="/step1registerstud">Back to Step 1</button>
        </div>
    </div>
    </div>



