<section class="signup">

    <div class="text-center col-sm-4 col-lg-8 col-md-6 p-x m-auto">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Alert: </strong>You have made changes. Any unsaved changes will be lost
        </div>
    </div>

    <div class="card-header col-sm-4 col-lg-8 col-md-6 p-x m-auto" *ngIf="empInfo">
        <h3 style="text-align: center;">Employer Information</h3>
    </div>

    
    <div class="login col-sm-4 col-lg-8 col-md-6 m-auto shadow-lg">
                
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateEmpInfo()" autocomplete="off">
            <label for="empWebsite"><strong>Employer Website: </strong></label>
            <input [(ngModel)]="empInfo.empWebsite" type="text" name="empWebsite" class="form-control mb-2">
            <label for="companyDescription"><strong>About {{user.empName}}: </strong></label>
            <textarea [(ngModel)]="empInfo.companyDescription" name="companyDescription" class="form-control mb-2" rows="3" ></textarea>
            <label for="whyWork"><strong>Why work at {{user.empName}}: </strong></label>
            <textarea [(ngModel)]="empInfo.whyWork" name="whyWork" class="form-control mb-2" rows="3" ></textarea>
        </form>

        <div>
            <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block mt-2 shadow-sm">Save Changes</button>
        </div>
    
    </div>
                
</section>
     
    
    

