<div class="row shadow mt-3" *ngIf="category">
    <div class="positions p-0" style="text-align: center;">

        <div>
        <h3><strong>Current Majors for the {{category.categoryName}} Category</strong></h3>
       
        <table class="table table-striped col-sm-4 col-lg-8 col-md-6 m-auto">
            <thead>
                <tr>
                    <th>Major Id</th>
                    <th>Major Name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let major of majors">
                    <!-- <td> <img src="{{position.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{position.empName}}"></td> -->
                    <td>{{major.majorId}}</td>
                    <td>{{major.majorName}}</td>
                    <td>
                        <button class="btn btn-info btn-sm shadow-sm mr-2 mb-2" routerLink='/majoredit/{{major.majorId}}'>Edit Major</button>
                        <button type="button-del" (click)="deleteMajor(major.majorId)"  class="btn btn-danger btn-sm shadow-sm mb-2">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container mt-3">
        <h4 class="text-center"><strong>Add Major</strong></h4>
        <form #majorForm="ngForm" (ngSubmit)="addMajor()" autocomplete="off">
            <div class="input-group" >
                <input name="majorName" required [(ngModel)]="majorName" type="text" 
                    class="form-control input-sm long-input" placeholder="Add Major Name">
                    <!-- <input name="order" required [(ngModel)]="order" type="number" 
                    class="form-control input-sm short-input ml-2 mb-3" placeholder="Order # (1.0,2.0,...)"> -->
                    <div class="input-group-append">
                    <button [disabled]="!majorForm.valid || loading" class="btn btn-info ml-2 mb-3 shadow-sm" style="width:auto" >Add Major
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

        <div class="btn-group d-flex col-lg-4 m-auto">
            <button class="btn btn-success btn-sm shadow-sm mt-2 mr-1 mb-3" routerLink="/positionslist">See all Positions</button>
            <button class="btn btn-secondary btn-sm shadow-sm mt-2 ml-1 mb-3" routerLink="/categorylist">Back to Categories</button>
        </div>

        
        <!-- <div class="text-center col-12">
            <button class="btn btn-success btn-sm shadow-sm mt-3 mb-3" routerLink="/positionslist">Back to Positions</button>
        </div> -->
    </div>
    </div>


