<section class="signup"  *ngIf="studInfo">

    <div class="text-center col-sm-4 col-lg-8 col-md-6 p-x m-auto">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Alert: </strong>You have made changes. Any unsaved changes will be lost.
        </div>
    </div>

    <div class="card-header col-sm-4 col-lg-8 col-md-6 p-x m-auto" *ngIf="studInfo">
        <h3 style="text-align: center;">Add/Edit Academic and Work Info</h3>
    </div>

    <div class="login col-sm-4 col-lg-8 col-md-6 m-auto shadow-lg">

        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateStudInfo()" autocomplete="off">
            <label for="academicPlus"><strong>Academic Accomplishmensts: </strong></label>
            <textarea [(ngModel)]="studInfo.academicPlus" name="academicPlus" class="form-control mb-2"></textarea>

            <div class="form-inline">
                <label for="gpa"><strong>GPA: </strong></label>
                <input [(ngModel)]=" studInfo.gpa" type="text" name="gpa" class="form-control mb-2 ml-2">
            </div>
            <div class="form-inline">
                <label for="gradDate"><strong>Grad Date (approx): </strong></label>
                <input [(ngModel)]=" studInfo.gradDate" type="date" name="gradDate" class="form-control mb-2 ml-2">
            </div>

            <label for="workPlus"><strong>Work/Internship Experiences:</strong></label>
            <textarea [(ngModel)]="studInfo.workPlus" name="workPlus" rows="5" class="form-control mb-2"></textarea>
            <label for="dreamJob"><strong>Dream Job:</strong></label>
            <textarea [(ngModel)]="studInfo.dreamJob" name="dreamJob" rows="3" class="form-control mb-2"></textarea>

            <u><strong>
                    <h5>Extra-Curricular</h5>
                </strong></u>
            <label for="athletics"><strong>Athletics:</strong></label>
            <textarea [(ngModel)]="studInfo.athletics" name="athletics" class="form-control mb-2"></textarea>
            <label for="arts"><strong>Involvement in the Arts:</strong></label>
            <textarea [(ngModel)]="studInfo.arts" name="arts" class="form-control mb-2"></textarea>
            <label for="extraCurricular"><strong>Clubs & Organizations:</strong></label>
            <textarea [(ngModel)]="studInfo.extraCurricular" name="extraCurricular"
                class="form-control mb-2"></textarea>

            <u><strong>
                    <h5>Best way to contact {{user.firstName}}:</h5>
                </strong></u>

            <div class="form-inline">
                <label for="bestEmail"><strong>Best Email: </strong></label>
                <input [(ngModel)]=" studInfo.bestEmail" type="email" name="bestEmail" class="form-control mb-2 ml-2">
            </div>
            <div class="form-inline">
                <label for="bestPhone"><strong>Best Phone: </strong></label>
                <input [(ngModel)]=" studInfo.bestPhone" type="phone" name="bestPhone"
                    class="form-control mb-2 ml-2 width: 100%">
            </div>
        </form>

        <div class="btn-group d-flex">
            <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-info shadow-sm mr-1">Save Changes</button>
                <button class="btn btn-success shadow-sm ml-1" routerLink='/positionslist'>See positions</button>
        </div>
    
    </div>

</section>
       
         
    