<div class="row shadow" *ngIf="member"  style="margin-left: 0px">
    <div class="col-sm-4 p-0">
            <div class="card" style="align-items: center">
            <img src="{{member.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{member.empName}}"
                class="card-img-top img-studthumbnail">
            <div class="card-body text-center">
                <h6 class="card-title text-center mb-1 mt-1">
                    <u><strong>{{member.empName}}</strong></u>
                </h6>
                <ng-container class="card-text text-muted text-center">
                    <p class="text-center">
                        Number of employees: <strong>{{member.employeeNum}}</strong>
                        <br>Industry: <strong>{{member.empIndustry}}</strong>
                        <br>thumbsup detail Headquarters: <strong>{{member.location}}</strong>
                        <!-- <br class="mt-3">Website: <a href="https://www.iowacollegefoundation.org/"> Link</a> -->
                    </p>
                        <div class="btn-group d-flex">
                            <button class="btn btn-info shadow-sm mr-1" routerLink='/lists'>Back to thumbs-up</button>
                    <button (click)="selectTab(2)" class="btn btn-success shadow-sm ml-1">Send message</button>
                        </div>
                    </ng-container>

            </div>
        </div>
    </div>
    
    <div class="col-sm-8 p-2">
        <tabset class="member-tabset" #memberTabs>
            
            <tab heading='Company Info' class="tab-heading"
            (selectTab)="onTabActivated($event)">
                <div class="details">
                <h4 class="mt-2"><strong>About {{member.empName}}</strong></h4> 
                <p>{{member.companyDescription}}</p>
                <h4 class="mt-2"><strong>Why work for our company?</strong></h4> 
                <p>{{member.whyWork}}</p>
                <h4 class="mt-2"><strong>Website</strong></h4> 

                <button type="button"class="btn btn-success mt-2" (click)="goToLink()">Go to company website</button>
               
            </div>            
            </tab>

            <tab heading='Current Positions' (selectTab)="onTabActivated($event)">
                
                <div class="row shadow mt-3 " *ngIf="member">
                    <div class="positions p-0" style="text-align: center;">
                        <!-- <h3>Id: {{member.appUserId}}</h3>
                        <h3>Username: {{member.username}}</h3> -->
                
                        <h2><strong>Current positions for {{member.empName}}</strong></h2>
                       
                        <div *ngIf="positions?.length === 0" class="mt-4">
                            <h3><strong>No positions at this time -- please check back!</strong></h3>
                        </div>
                        
                        <div *ngIf="positions?.length > 0" class="mt-4"> 
                        <table class="table table-striped col-sm-4 col-lg-8 col-md-6 m-auto">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Position Type</th>
                                    <th>See Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let position of positions">
                                    <td>{{position.positionName}}</td>
                                    <td>{{position.positionType}}</td>
                                    <td>
                                        <button class="btn btn-success btn-sm shadow-sm mr-2 mb-2" routerLink='/thumbsuppositiondetail/{{position.positionId}}'>Details</button>
                                      
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                
                    </div>
                </div>

            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                <div class="p-3 font" style="font-size:large">
                   <h4><strong>Remember to specify which position at {{member.empName}} you are messaging about:</strong></h4>
                </div>
                <app-member-messages [username]="member.username" [messages]="messages" ></app-member-messages>
            </tab>


        </tabset>
    </div>


