<div class="row shadow" *ngIf="cardMember"  style="margin-left: 0px">
    <div class="col-sm-4 p-0">
            <div class="card" style="align-items: center">
            <img src="{{cardMember.logoUrl || '../../assets/images/new_logo.png' }}" alt="{{cardMember.empName}}"
                class="card-img-top img-studthumbnail">
            <div class="card-body text-center">
                <!-- <div class="mb-1" *ngIf="(presence.onlineUsers$ | async).includes(member.username)">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div> -->
                    <p>
                        <u><strong>{{cardMember.empName}}</strong></u> <br>
                        Number of employees: {{cardMember.employeeNum}} 
                        <br>Industry: {{cardMember.empIndustry}} 
                        <br>Headquarters: {{cardMember.location}}
                    </p>
                        <!-- <div class="card-footer"> -->
                            <div class="btn-group d-flex">
                                <button class="btn btn-info btn-block mt-2 shadow-sm" routerLink="/empmemberslist">Back to employer
                                    list</button>
                            </div>
                            <div class="btn-group d-flex">
                                <button class="btn btn-primary btn-block mt-2 shadow-sm" routerLink="/userlogin">
                                    Students click here to see positions
                                    </button>
                            </div>
                        <!-- </div> -->

            </div>
        </div>
    </div>
    
    <div class="col-sm-8 p-2">
        <tabset class="member-tabset" #memberTabs>
            
            <tab heading='Company Info' class="tab-heading">
                <div class="details">
                <h4 class="mt-2"><strong>About {{cardMember.empName}}</strong></h4> 
                <p>{{cardMember.companyDescription}}</p>
                <h4 class="mt-2"><strong>Why work for {{cardMember.empName}}?</strong></h4> 
                <p>{{cardMember.whyWork}}</p>
                <h4 class="mt-2"><strong>Website</strong></h4> 

                <button type="button"class="btn btn-success mt-2" (click)="goToLink()">Go to company website</button>
               
            </div>            
            </tab>

        </tabset>
    </div>

