<div class="container mt-2">
    <div style='text-align: center;'>
        
        <img src='../../assets/ICF_Logo.jpg' routerLink="" class="logo" height="200" width="200" class="mb-2 mt-2"/>  
        
        <h1><strong><u>ICF Connect</u></strong></h1>
        <h3>If you have any questions about using ICF Connect's internship/job portal or if you would like to have your profile deleted, please click the button below to send an email. 
            <br>(Info@IowaCollegeFoundation.org) 
            <br><br>Please remember to include the name of your college/university as well as your username (school email) within the body of your message.
            <br><br>Thank you!</h3>
        <hr>
        <div>
            <a class="btn btn-info btn-lg mt-2" href="mailto:info@iowacollegefoundation.org">Send Email</a>
        </div>
    
        
        