<div class="container mt-2">
    <div style='text-align: center;'>
        <h1><strong><u>ICF Connect</u></strong></h1>
        <h2><strong>Iowa College Foundation's Internship/Job Portal</strong></h2>
        <hr>
        <h3><strong>ICF Connect is an internship/job portal created to provide Iowa companies and organizations a way in which to connect with the 32,000+ students attending Iowa College Foundation's member schools -- 23 private colleges and universities in Iowa.</strong></h3>
        <hr>
        <h3>If your company or organization has a presence in Iowa and you would like more information about this portal and to connect with our students, please click below to send an email:</h3>
        <div>
            <a class="btn btn-info btn-lg mt-2" href="mailto:info@iowacollegefoundation.org">Send Email</a>
        </div>
        <hr>
        <section class="staff">
            <div class="container">
                <h3 class="text-center"><strong>Iowa College Foundation Staff</strong></h3>
             
                <!-- <div class="row mt-3" >
                    <div class="col mb-2"  *ngFor="let cs of staff">
                        <div class="box shadow-lg p-2">
                            <img src="{{cs.image}}" width="100%">
                            <h4 class="mt-2"><strong>{{cs.name}}</strong></h4>
                            <h4 class="mb-2"><strong>{{cs.position}}</strong></h4>
                        </div>
            
                    </div>
                </div>  -->
                </div>  
                </section>
        