<div class="row shadow"  *ngIf="member" style="margin-left: 0px">
    <div class="col-sm-4 p-0">
            <div class="card" style="align-items: center">
            <img src="{{member.studentUrl || '../../assets/images/coluser.PNG'}}" alt="{{member.firstName}}"
                class="card-img-top img-studthumbnail">
            <div class="card-body text-center">
              
                    <p>
                    <u><strong>{{member.firstName}} {{member.lastName}}</strong></u><br>
                        {{member.classYear}} {{member.major}} Major
                        <br> from {{member.location}} 
                        <br> attending {{member.college}}
                      
                        <br>Profile Created: {{member.created | date: "MMM dd yyyy" }}
                    </p>
            

            <div class="btn-group d-flex">
                <button class="btn btn-info shadow-sm mr-1" routerLink='/membersearch'>Back to talent</button>
                <button (click)="selectTab(2)" class="btn btn-success shadow-sm ml-1">Send message</button>
            </div>
            
            </div>
        </div>
    </div>
    
     
        <div class="col-sm-8 p-2">

        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{member.firstName}}' 
            class="tab-heading"
            (selectTab)="onTabActivated($event)">
                <div class="details">
                <h4><strong>Academic Highlights</strong></h4>
                {{member.academicPlus}}<br>
                <h5 class="mt-2 mb-2"><u>GPA:</u> {{member.gpa}}</h5>
                <h5 class="mt-2 mb-2"><u>Grad Date:</u> {{member.gradDate}}</h5>  
                <h4 class="mt-2"><strong>Work Experiences</strong></h4>
                {{member.workPlus}}<br>
                <h4 class="mt-md-2"><strong>Dream Job</strong></h4>
                {{member.dreamJob}}<br>
                <h4 class="mt-2"><strong>Best way to contact {{member.firstName}}:</strong></h4>
                <p *ngIf="member.bestEmail">Email: 
                    {{member.bestEmail}}</p> 
                <p *ngIf="member.bestPhone">Phone:
                        {{member.bestPhone}}</p>
            </div>            
            </tab>
            <tab heading='Extra-Curricular' 
            class="tab-heading" 
            (selectTab)="onTabActivated($event)">
                <div class="details">
                <h4><strong>Athletics Experiences</strong></h4>
                {{member.athletics}}<br>    
                <h4 class="mt-2"><strong>Involvement in the Arts</strong></h4>
                {{member.arts}}<br>
                <h4 class="mt-2"><strong>Clubs and Organizations</strong></h4>
                {{member.extraCurricular}}<br>
                </div>
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
               <app-member-messages [username]="member.username" [messages]="messages"></app-member-messages>
            </tab>

        </tabset>
    </div>
