<section class="signup" *ngIf="registerCode">
    <div class="card-header col-lg-4 m-auto">
      <h3 style="text-align: center;">Add Required Position Info</h3>
        <h4 style="text-align: center;">(hit Tab to next field, not Enter)</h4>
    </div>
    <div class="login col-lg-4 m-auto shadow-lg">

        <form [formGroup]='addPositionForm' (ngSubmit)="addPositionForm.valid && addPosition()" autocomplete="off">

          <div class="form-group">
            <input [class.is-invalid]='addPositionForm.get("registerCode").errors 
                && addPositionForm.get("registerCode").touched' formControlName='registerCode'
              class="form-control shadow-sm" type="text" maxlength="15"
              pattern="({{registerCode.registerCodeName1}})|{{registerCode.registerCodeName2}}|{{registerCode.registerCodeName3}}|{{registerCode.registerCodeName4}}|{{registerCode.registerCodeName5}}|{{registerCode.registerCodeName6}}|{{registerCode.registerCodeName7}}"
              placeholder="Register Code (re-enter employer code)">
            <div *ngIf="addPositionForm.get('registerCode').hasError('required')" class="invalid-feedback">Please enter a
              register code</div>
            <div *ngIf="addPositionForm.get('registerCode').hasError('pattern')" class="invalid-feedback">If you do not have
              a register code please email: info@iowacollegefoundation.org</div>
          </div>

            <label class="filter m-auto mb-2"><strong>Select the category for your position (required):</strong></label>
    
    
          <select class="mr-2 mb-1 form-control" formControlName="posCategory" style="width: auto">
            <option value="">-- Position-Category --</option>
            <option *ngFor="let posCategory of posCategories" [value]="posCategory.posCategoryName">
              {{posCategory.posCategoryName}}
            </option>
          </select>
    
          <label class="filter m-auto mt-1 mb-2"><strong>Re-select position-category and then position (both required):</strong></label>
    
          <div class=" form-group form-inline">
            <select (change)="onPosSelect($event)" class=" form-control form-inline mr-2" name="posCategory"
              style="width: auto">
              <br>
              <option class="mb-2" #value="">-- 1st Position-Category --</option>
              <option *ngFor="let posCategory of posCategories"
                value="{{posCategory.posCategoryId}}">
                {{posCategory.posCategoryName | titlecase}}
              </option>
            </select>
    
            <select class="mr-2 mt-1 mb-1 form-control" formControlName="posName" style="width: auto">
              <option value="">-- 2nd Select Position --</option>
              <option *ngFor="let positName of positNames"
                [value]="positName.posName">
                {{positName.posName | titlecase}}
              </option>
            </select>
          </div>
    
          <label class="filter m-auto"><strong>If you don't see your position included,
            click this button:</strong></label>

    <div>
        <button class="btn btn-info mt-2 mb-2 shadow-sm" routerLink='/poscategorieslistemps'>Add Position</button>
    </div>
          
            <div class="form-group">
                <label><strong>Select type of position (required):</strong></label>
                <select formControlName='positionType' style="width: auto" required class="form-control mr-2">
                    <option required value="">-- Select Position Type --</option>
                    <option *ngFor="let positionType of positionTypeList" [value]="positionType.value">
                        {{positionType.display}}
                    </option>
                </select>
            </div>

            <label class="filter m-auto mb-2"><strong>Select your organization's headquarters (IA preferred and required):
            </strong></label>
    
    
          <select class="mr-2 mb-1 form-control" formControlName="stempLocation" style="width: auto">
            <option value="">-- 1st Select State --</option>
            <option *ngFor="let stempLocation of stempLocations" [value]="stempLocation.stempLocationName">
              {{stempLocation.stempLocationName}}
            </option>
          </select>
    
          <label class="filter m-auto mt-1 mb-2"><strong>Then re-select state and then city (both required):</strong></label>
    
          <div class=" form-group form-inline">
            <select (change)="onSelect($event)" class=" form-control form-inline mr-2" name="stempLocation"
              style="width: auto">
              <br>
              <option class="mb-2" #value="">-- Re-Select State --</option>
              <option *ngFor="let stempLocation of stempLocations"
                value="{{stempLocation.stempLocationId}}">
                {{stempLocation.stempLocationName}}
              </option>
            </select>
    
            <select class="mr-2 mt-1 mb-1 form-control" formControlName="ciempLocation" style="width: auto">
              <option class="text-center" value="">-- Select City --</option>
              <option class="text-center" *ngFor="let ciempLocation of ciempLocations"
                [value]="ciempLocation.ciempLocationName">
                {{ciempLocation.ciempLocationName}}
              </option>
            </select>
          </div>
    
          <label class="filter m-auto mb-2"><strong>If you don't see your headquarters' location, click this
              button:</strong></label>
    
          <div>
            <button class="btn btn-info mb-3 shadow-sm" routerLink='//emplocationlistemps'>Add Location</button>
          </div>

          <label class="filter m-auto mb-2"><strong>Select start date for this position (required):</strong></label>
          <app-date-input [formControl]='addPositionForm.controls["startDate"]' [label]='"Start Date"'>
          </app-date-input>
  
          <label class="filter m-auto mb-2"><strong>Select application deadline for this position (required):</strong></label>
            <app-date-input [formControl]='addPositionForm.controls["appDeadline"]' [label]='"Application Deadline"'>
            </app-date-input>

                            <!-- <app-text-input [formControl]='addPositionForm.controls["posName"]'
                                [label]='"Position Name"'>
                            </app-text-input> -->

                            

                            <!-- <div class="form-group">
                                <label>Position Type is Required</label>
                                <select formControlName='positionType' style="width: auto" required class="form-control mr-2">
                                    <option value="">--Select Position Type--</option>
                                    <option *ngFor="let positionType of positionTypeList" [value]="positionType.value">
                                        {{positionType.display}}
                                    </option>
                                </select>
                            </div> -->

                            <!-- <app-text-input [formControl]='addPositionForm.controls["positionLocation"]'
                                [label]='"Position Location"'>
                            </app-text-input> -->

                            <!-- <app-text-input [formControl]='addPositionForm.controls["positionDescription"]'
                                [label]='"Position Description"'>
                            </app-text-input>

                            <app-text-input [formControl]='addPositionForm.controls["positionBenefits"]'
                                [label]='"Position Benefits"'>
                            </app-text-input> -->

                            <!-- <div class="row" *ngIf="validationErrors.length > 0" >
                                <ul class="text-danger">
                                    <li  *ngFor="let error of validationErrors">
                                        {{error}}
                                    </li>
                                </ul>
                            </div> -->

                            <div class="btn-group d-flex">
                        <!-- <button class="btn btn-primary mr-2">Possible Fit</button> -->
                                <button [disabled]="!addPositionForm.valid" type="submit"
                                    class="btn btn-info shadow-sm mr-1">Save Position Info</button>
                                <button class="btn btn-secondary shadow-sm ml-1" routerLink='/membersearch'>Cancel</button>
                             </div>

               <!-- </tab>

                <tab heading='HR Contact Photo'>
                    <h4><strong>If you want to edit the existing HR Contact Photo you must first add another photo and then mark it as "Main."</strong></h4>
                    <app-photo-editor-hr [member]="member"></app-photo-editor-hr>
                </tab>

            </tabset> -->







