<div class="card mb-4" *ngIf="position">
    <div class="card-img-wrapper">
        <img src="{{position.logoUrl || '../../assets/images/new_logo.png' }}" alt="{{position.empName}}"
            class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/newpositiondetail/{{position.positionId}}'
                    class="btn btn-primary">
                    <i class="fa fa-info"></i>
                    <span class="tooltip-text">
                        More info
                    </span>
                </button>
            </li>
            <li class="list-inline-item"><button (click)="addLike(position)" class="btn btn-primary">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="tooltip-text">
                        Company I like
                    </span>
                </button>
            </li>
            <li class="list-inline-item">
                <button routerLink='/newpositiondetail/{{position.positionId}}' 
                    [queryParams]='{tab: 3}'
                    class="btn btn-primary">
                    <i class="fa fa-envelope"></i>
                    <span class="tooltip-text">
                        Send message
                    </span>
                </button>
            </li>
        </ul>
    </div>

    <div class="card-body padding p-2">
        <h6 class="card-title text-center mb-1">
            <!-- <span>
                <i class="fa fa-user mr-2"></i> 
            </span> -->
            <u><strong>{{position.empName}}</strong></u>
        </h6>
        <ng-container class="card-text text-muted text-center">
            <p class="text-center">
                <!-- <a href="mailto:{{recipient}}">Send Email</a> -->
                {{position.positionType}} {{position.posName}} position
                <br>({{position.posCategory}} category)
                <br>in {{position.ciempLocation}}, {{position.stempLocation}} 
                <br>Start date: {{position.startDate | date: "MM/dd/yyyy"}}
                <br>Application deadline: {{position.appDeadline | date: "MM/dd/yyyy"}}
            </p>
            <button class="btn btn-info button btn-block shadow-sm mr-2 mb-2" routerLink='/newpositiondetail/{{position.positionId}}'>
                Click to see position details
            </button>
        </ng-container>

    </div>
</div> 
