<div class="row lists text-center mt-2" *ngIf="positions" >
    <div class="row welcome text-center">
        <div class="col-12">
            <h2 class="display-4">Number of positions applying your filters: {{pagination?.totalItems}}</h2>
        </div>
    </div>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" 
        (ngSubmit)="loadPositions()" autocomplete="off">
    
            <div class="form-group align-content-center">
                <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter by: </strong></label>
                    <select name="positionName" 
                        [(ngModel)]="userParams.positionName" 
                        style="width: auto"
                        class="form-control mr-2">
                        <option class="text-center" value="">--Select Position--</option>
                        <option *ngFor="let positionName of positionNameList" class="text-center"
                        [value]="positionName.value">
                                {{positionName.display}}
                            </option>
                        </select>
                    </div>

                     <div class="form-group">
                        <select name="positionType" 
                            [(ngModel)]="userParams.positionType" 
                            style="width: auto"
                            class="form-control mr-2">
                            <option value="">--Select Position Type--</option>
                            <option *ngFor="let positionType of positionTypeList" class="text-center"
                                [value]="positionType.value">
                                {{positionType.display}}
                            </option>
                        </select>
                    </div>

                    <!-- <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center mt-2"> -->
                                    <button class="btn btn-success mr-1" type="submit">Apply Filters</button>
                                    <button (click)="resetFilters()" class="btn btn-info ml-1 mr-2" type="submit">Reset Filters</button>
                                <!-- </div>
                            </div>
                        </div>
                    </div>      -->
                    
                    <div class="text-center">
                        <label class="mr-2 filter" style="font-size: 1.5em"><strong> Sort by: </strong></label>
                    </div>

                    <!-- <div class="container row">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center mt-2"> -->
                                    <button 
                                        type="button"
                                        class="btn btn-primary mr-2"
                                        name='orderByPositionName'
                                        (click)="loadPositions()"
                                        btnRadio='orderByPositionName'
                                        [(ngModel)]="userParams.orderByPositionName">
                                        Position
                                    </button>
                                    <button 
                                        type="button"
                                        class="btn btn-info mr-2"
                                        name='orderByPositionType'
                                        (click)="loadPositions()"
                                        btnRadio='orderbyPositionType'
                                        [(ngModel)]="userParams.orderByPositionLocation">
                                        Location
                                    </button>
    </form>
</div>


<div class="container-fluid mt-2">
    <div class="row">
        <div *ngFor="let position of positions"  class="col-lg-3 col-md-6">
            <app-position-card [member]="member"  [position]="position"></app-position-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>


