<div class="container" *ngIf="position">
    <div *ngIf="skillsBullets?.length === 0" class="mb-3">
        <h2 class="mb-3"><strong>No <u>Requirements and Skills</u> yet for this {{position.positionName}} position</strong></h2>
        <button class="btn btn-primary btn-sm shadow-sm mr-2 mb-2" routerLink='/positionskillsbullets/{{position.positionId}}'>Click to add bullets</button>
    </div>

    <div  *ngIf="skillsBullets?.length > 0" class="mb-3 col-sm-8 col-lg-4 col-md-6 m-auto">
            
        <h2 class="mb-3"><strong>Current <u>Requirements and Skills</u> bullet points for {{position?.positionName}} position:</strong></h2>
        <h4><strong>Requirements and Skills</strong></h4>
        <ul>
            <li *ngFor="let skillsBullet of skillsBullets">{{skillsBullet.skillsBulletText}}</li>
        </ul>
        <button class="btn btn-primary btn-sm shadow-sm mr-2 mb-2" routerLink='/positionskillsbullets/{{position.positionId}}'>Back to adding bullets</button>

    </div>


    
</div>

