<div class="card mb-4">
    <div class="card-img-wrapper" *ngIf="member.appUserType == 'EmpHr'">
        <img src="{{member.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{member.firstName}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/compmembers/{{member.username}}' class="btn btn-primary">
            <i class="fa fa-info"></i>
                <span class="tooltip-text">
                    More info
                </span>
            </button>
            </li>
            <li class="list-inline-item"><button (click)="addLike(member)" class="btn btn-primary">
                <i class="fa fa-thumbs-up"></i>
                <span class="tooltip-text">
                    Company I like
                </span>
            </button>
            </li>
            <li class="list-inline-item">
                <button 
                    routerLink='/compmembers/{{member.username}}' 
                    [queryParams]='{tab: 2}'
                    class="btn btn-primary">
                <i class="fa fa-envelope"></i>
                <span class="tooltip-text">
                    Send message
                </span>
            </button>
            </li>
        </ul>
    </div>   

    
    <!-- <div class="tooltip">Hover over me
        <span class="tooltiptext">Tooltip text</span>
      </div> -->



    <div class="card-img-wrapper" *ngIf="member.appUserType == 'ColStudent'">
        <img src="{{member.studentUrl || '../../assets/images/coluser.PNG' }}" alt="{{member.firstName}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/members/{{member.username}}' class="btn btn-primary">
                <i class="fa fa-info"></i>
                <span class="tooltip-text">
                    More info
                </span>
            </button>
            </li>
            <li class="list-inline-item"><button (click)="addLike(member)" class="btn btn-primary">
                <i class="fa fa-thumbs-up"></i>
                <span class="tooltip-text">
                    Student we like
                </span>
            </button>
            </li>
            <li class="list-inline-item"><button 
                    routerLink='/members/{{member.username}}' 
                    [queryParams]='{tab: 2}'
                    class="btn btn-primary">
                <i class="fa fa-envelope"></i>
                <span class="tooltip-text">
                    Send message
                </span>
            </button>
            </li>
        </ul>
    </div>   
    <div class="card-body padding p-2">
        <h6 *ngIf="member.appUserType == 'ColStudent'" class="card-title text-center mb-1">
            <!-- <span [class.is-online]="(presence.onlineUsers$ | async).includes(member.username)"> -->
                <i class="fa fa-user mr-2"></i> 
            <!-- </span> -->
           
            <u><strong>{{member.firstName}}</strong></u>
        </h6>

        <h6 *ngIf="member.appUserType == 'EmpHr'" class="card-title text-center mb-1">
            <!-- <span [class.is-online]="(presence.onlineUsers$ | async).includes(member.username)"> -->
                <i class="fa fa-user mr-2"></i> 
            <!-- </span> -->
            <u><strong>{{member.empName}}</strong></u>
        </h6>

        <p *ngIf="member.appUserType == 'ColStudent'" class="card-text text-muted text-center">
            {{member.classYear}} {{member.major}} major
            <br> 
            from {{member.location}}
            <br>
            attending {{member.college}}
        </p>
        <p *ngIf="member.appUserType == 'EmpHr'" class="card-text text-muted text-center">
            {{member.empIndustry}} industry
            <br>Number of employees: {{member.employeeNum}}
            <br>Located in {{member.location}} 
            <!-- <br>Start date: {{member.startDate | date: "MM/dd/yyyy"}}
            <br>Application deadline: {{member.appDeadline | date: "MM/dd/yyyy"}} -->
        </p>
        <!-- <p class="card-text text-muted text-center">{{member.workPlus}}</p> -->
    </div>
</div>

