<div class="card mb-4" *ngIf="member">

    <ng-container *ngIf="member.appUserType == 'EmpHr'">
        <div class="card-header bg-success">
        </div>

        <div class="card-img-wrapper">
            <img src="{{member.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{member.firstName}}"
                class="card-img-top">
        </div>
        <h6 class="card-title text-center mb-1 mt-1">
            <!-- <span>
                <i class="fa fa-user mr-2"></i>
            </span> -->  
            <u><strong>{{member.empName}}</strong></u>
        </h6>
        <ng-copntainer class="card-text text-muted text-center">
            <p class="text-center">
                Number of employees: <strong>{{member.employeeNum}}</strong>
                <br>Industry: <strong>{{member.empIndustry}}</strong>
                <br>Headquarters: <strong>{{member.location}}</strong>
            </p>
            <button class="btn btn-info button btn-block shadow-sm mr-2 mb-2"
                routerLink='/empmemberthumbsupdetail/{{member.appUserId}}'>View company details</button>
        </ng-copntainer>
    </ng-container>
<!-- </div> -->

<!-- <div class="card mb-4" *ngIf="member"> -->

    <ng-container *ngIf="member.appUserType == 'ColStudent'">
        <div class="card-header bg-success">
        </div>

        <div class="card-img-wrapper">
            <img src="{{member.studentUrl || '../../assets/images/coluser.PNG' }}" alt="{{member.firstName}}" class="card-img-top">
            
        </div>
        <h6 class="card-title text-center mb-1 mt-1">
            <span>
                <i class="fa fa-user mr-2"></i>
            </span>
            <u><strong>{{member.firstName}} {{member.lastName}}</strong></u>
        </h6>
        <div class="card-text text-muted text-center">
            <p class="text-center">
                {{member.classYear}} {{member.major}} major
                <br> 
                from {{member.location}}
                <br>
                attending {{member.college}} 
            </p>
            <button class="btn btn-success btn-block shadow-sm mr-2 mb-2"
                routerLink='/memberthumbsupdetail/{{member.appUserId}}'>View student details</button>
        </div>
    </ng-container>
</div>

  