<!---Heading -->

<div class="container-fluid lists mt-2">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Student Talent from 23 Private Colleges & Universities in Iowa</h1>
        </div>
        
    </div>
</div>
<hr class="col-12">

<div class="container-fluid mt-2">
    <div class="row">

        <div *ngFor="let cardMember of cardMembers$ | async"  class="col-lg-3 col-md-6">
                <app-member-card [cardMember]="cardMember"></app-member-card>
        </div>
       
    </div>
</div>

