<div class="container-fluid lists mt-2" *ngIf="cardMembers && categories">
    <div class="row welcome text-center">
        <div class="col-12">
            <h2 class="display-4"> Student talent applying your filters: {{pagination?.totalItems}}</h2>
        </div>
    </div>
</div>


<div class="container mt-3">
    <form #form="ngForm" class="mb-3 align-content-center" 
        (ngSubmit)="loadCardMembers()" autocomplete="off">

        <div class="form-group form-inline">
            <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter on major-category: </strong></label>
            <div class="form-group">
                <select name="category" 
                [(ngModel)]="userParams.category"
                style="width: auto" 
                class="form-control mr-2">
                <option class="text-center" value="">--Select Category--</option>
                <option *ngFor="let category of categories" 
                    [value]="category.categoryName">
                    {{category.categoryName | titlecase}}    
                </option>
                </select>
            </div>
            
        <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter on specific major: </strong></label>  
            
            <select (change)="onSelect($event)" 
                class=" form-control mr-2"
                name="category"
                style="width: auto">
                <option class="text-center mb-2" #value="">--1st select category--</option>
                <option *ngFor="let category of categories"
                    value="{{category.categoryId}}">
                    {{category.categoryName | titlecase}}
                </option>
            </select>
        
            <select class="mr-2 mt-1 mb-1 form-group form-control" name="major"
                [(ngModel)]="userParams.major"
                style="width: auto">
                <option class="text-center" value="">--2nd select major--</option>
                <option *ngFor="let major of majors"
                    [value]="major.majorName">
                    {{major.majorName | titlecase}}
                </option>
            </select>
        </div>
        

        <div class="form-group form-inline">
            <label class="mr-2 filter" style="font-size: 1.5em"><strong> College filter: </strong></label>  
            <select name="college" 
                [(ngModel)]="userParams.college"
                style="width: auto" 
                class="form-control mr-2 mb-2">
                <option class="text-center" value="">--Select College--</option>
                <option *ngFor="let college of colleges" 
                    [value]="college.collegeName">
                    {{college.collegeName}}    
                </option>
            </select>
        <!-- </div>
    
        <div class="form-group"> -->
        <label class="mr-2 filter" style="font-size: 1.5em"><strong> Class yr filter: </strong></label>  
           <select name="classYear" 
                [(ngModel)]="userParams.classYear"
                style="width: auto" 
                class="form-control mb-2 mr-2">
                <option value="">--Select Class Yr--</option>
                <option *ngFor="let classYear of classYearList" 
                    [value]="classYear.value">
                    {{classYear.display}}    
                </option>
            </select>
       

                        <button class="btn btn-success mr-2 mb-2" type="submit">Apply Filters</button>
                        <button (click)="resetFilters()" class="btn btn-info mb-2" type="submit">Reset Filters</button>
                    </div>
                       </form>
</div>

<div class="container-fluid mt-2">
    <div class="row">
        <div *ngFor="let cardMember of cardMembers"  class="col-lg-3 col-md-6">
                <app-member-card [cardMember]="cardMember"></app-member-card>
        </div>
       
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>

