<!-- <div class="container-fluid"> -->

    <div class="row shadow"  *ngIf="member" style="margin-left: 0px">
        <div class="text-center">
            <h2><strong>Edit Card Info and Add/Edit Logo</strong></h2>
        </div>
        <div class="text-center">
            <div class="alert alert-info" *ngIf="editForm.dirty">
                <p><strong>Alert: </strong>You have made changes. Any unsaved changes will be lost</p>
            </div>
        </div>
    
        <div class="col-sm-4 p-0">
                <div class="card" style="align-items: center">
                    <img src="{{member.logoUrl || '../../assets/images/new_logo.png' }}" alt="{{member.empName}}" 
                    class="card-img-top img-studthumbnail">
                <div class="card-body text-center">
                    <p>                  
                    <u><strong>{{member.empName}}</strong></u>
                    <br>
                    {{member.empIndustry}} industry
                    <br> 
                    Number of employees: {{member.employeeNum}}
                    <br>
                    Located in {{member.ciLocation}}
                </p>
                
                    <div class="btn-group d-flex">
                        <!-- <button class="btn btn-primary mr-2">Possible Fit</button> -->
                        <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-info mr-1">Save Card Changes</button>
                        <button class="btn btn-success shadow-sm ml-1" routerLink='/company2/edit'>Add/Edit Company Info</button>
                    </div>
                    <button class="btn btn-primary btn-block shadow-sm mt-2" routerLink='/membersearch'>See talent</button>
            </div>
        </div>
    </div>
         
    <div class="col-sm-8 p-2">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='Edit Card Info' class="tab-heading">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMemberCard()">
                    <div class="details mb-3">
                    
                        <label for="empIndustry"><strong>Industry: </strong></label>
                        <input [(ngModel)]="member.empIndustry" type="text" name="empIndustry" class="form-control mb-2">
                        <label for="employeeNum"><strong>Number of employees: </strong></label>
                        <input [(ngModel)]="member.employeeNum" type="text" name="employeeNum" class="form-control mb-2">
                        <label for="ciLocation"><strong>Employer location: </strong></label>
                        <input [(ngModel)]="member.ciLocation" type="text" name="ciLocation" class="form-control mb-2">
                    </div>   
                </form>         
            </tab>

                <tab heading='Add/Edit Logo' >
                    <app-photo-editor [member]="member"></app-photo-editor>
                 </tab>
    
            </tabset>
        </div>

    
    
    
