<section class="signup">
    <div class="card-header col-lg-4 m-auto">
        <h5 style="text-align: center;"><u>Step 1 before you register</u></h5>
        <h5 style="text-align: center;">Make sure your organization's "industry" is included</h5>
    </div>
    <div class="login col-lg-4 m-auto shadow-lg">

        <!-- <h6 class="text-center mb-2"><strong>First select a majo</strong></h6> -->

        <!-- <div class="text-center col-12">
            <select (change)="onSelect($event)" class=" form-control form-inline mr-2" name="category">
                <br>
                <option class="text-center mb-2 label" #value="">-- 1st select category --</option>
                <option *ngFor="let category of categories" value="{{category.categoryId}}" class="text-center">
                    {{category.categoryName | titlecase}}
                </option>
            </select> -->

            <h6 class="text-center mb-2"><strong>Check to see if your industry is included:</strong></h6>

            <select class="mr-2 mt-1 mb-1 form-control" name="empIndustry">
                <option class="text-center" value="test">-- Check Industries --</option>
                <option *ngFor="let empIndustry of empIndustries" [value]="empIndustry.empIndustryName | titlecase" class="text-center">
                    {{empIndustry.empIndustryName | titlecase}}
                </option>
            </select>

            <h6 class="filter m-auto mt-3 mb-2 text-center"><strong>If you don't see your industry, click this button:</strong></h6>

            <div class="text-center col-12">
                <button class="btn btn-info mt-2 shadow-sm" routerLink='/empindustrylistemps'>Add Industry</button>
            </div>
        </div>    
    <!-- </div> -->

    <div class="card-header col-lg-4 m-auto">
        <h5 style="text-align: center;"><u>Step 2 before you register</u></h5>
        <h5 style="text-align: center;">Make sure your organization's headquarters is included (Iowa headquarters preferred):</h5>
    </div>
    <div class="login col-lg-4 m-auto shadow-lg">
    
        <!-- <h6 class="text-center mb-2"><strong>First select USA or "Other" country:</strong></h6>
    
        <div class="text-center col-12">
            <select (change)="onCoSelect($event)" class=" form-control form-inline mr-2" name="coLocation">
                <br>
                <option class="text-center mb-2 label" #value="">-- 1st select USA/Other country --</option>
                <option *ngFor="let coLocation of coLocations" value="{{coLocation.coLocationId}}" class="text-center">
                    {{coLocation.coLocationName}}
                </option>
            </select> -->
    
            <h6 class="text-center mb-2"><strong>First check for state:</strong></h6>
    
            <select (change)="onSelect($event)" class="mr-2 mt-1 mb-1 form-group form-control" name="stLocation">
            <option class="text-center" value="">-- States --</option>
            <option *ngFor="let stempLocation of stempLocations" value="{{stempLocation.stempLocationId}}" class="text-center">
                {{stempLocation.stempLocationName}}
            </option>
            </select>
            
            <h6 class="text-center mt-2 mb-2"><strong>Then check for city:</strong></h6>
            
            <select class="mr-2 mt-1 mb-1 form-group form-control" name="ciLocation">
                <option class="text-center" value="">-- Cities --</option>
                <option *ngFor="let ciempLocation of ciempLocations" [value]="ciempLocation.ciempLocationName" class="text-center">
                    {{ciempLocation.ciempLocationName | titlecase}}
                </option>
            </select>

            <h6 class="filter m-auto mt-3 mb-2 text-center"><strong>If you don't see your state and/or city, click this button:</strong></h6>

            <div class="text-center col-12">
                <button class="btn btn-info mt-2 shadow-sm" routerLink='/emplocationlistemps'>Add State and/or City</button>
            </div>
            
        </div>

       
    
    <!-- </div> -->

    <div class="btn-group d-flex col-lg-4 mt-2 m-auto">
        <button class="btn btn-success btn-sm shadow-sm mt-2 mr-1 mb-3" routerLink="/registeremp">Register</button>
        <button class="btn btn-secondary btn-sm shadow-sm mt-2 ml-1 mb-3" routerLink="/">Cancel</button>
    </div>
    
    </section>
