<div class="container-fluid lists mt-2" *ngIf="cardMembers">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Number of employers using your filters that support private higher education in Iowa: {{pagination?.totalItems}}</h1>
        </div>
    </div>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" 
        (ngSubmit)="loadCardMembers()" autocomplete="off">
        
                        <div class="form-group align-content-center">
                            <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filters: </strong></label>
                            <select name="empIndustry" 
                                [(ngModel)]="userParams.empIndustry" 
                                style="width: auto"
                                class="form-control mr-2">
                                <option class="text-center" value="">--Select Industry--</option>
                                <option *ngFor="let empIndustry of empIndustryList" 
                                    [value]="empIndustry.value">
                                    {{empIndustry.display}}
                                </option>
                            </select>
                        </div>
        
                        <div class="form-group">
                            <select name="location" 
                                [(ngModel)]="userParams.location" 
                                style="width: auto"
                                class="form-control mr-2">
                                <option value="">--Select Headquarters--</option>
                                <option *ngFor="let location of locationList" 
                                    [value]="location.value">
                                    {{location.display}}
                                </option>
                            </select>
                        </div>
                  
  

        <!-- <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center mt-2"> -->
                        <button class="btn btn-success ml-2 mr-2" type="submit">Apply Filters</button>
                        <button (click)="resetFilters()" class="btn btn-info ml-1 mr-2" type="submit">Reset Filters</button>
                    <!-- </div>
                </div>
            </div>
        </div>      -->
    
        <div class="text-center">
            <label class="mr-2 filter" style="font-size: 1.5em"><strong> Order by: </strong></label>
        </div>

        <!-- <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center mt-2"> -->
                        <button 
                            type="button"
                            class="btn btn-primary mr-2"
                            name='orderByEmpName'
                            (click)="loadCardMembers()"
                            btnRadio='empName'
                            [(ngModel)]="userParams.orderByEmpName">
                            Employer
                        </button>
                        <!-- <button 
                            type="button"
                            class="btn btn-success mr-2"
                            name='orderByEmpIndustry'
                            (click)="loadCardMembers()"
                            btnRadio='empIndustry'
                            [(ngModel)]="userParams.orderByEmpIndustry">
                            Order by Industry
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary mr-2"
                            name='orderByLocation'
                            (click)="loadCardMembers()"
                            btnRadio='location'
                            [(ngModel)]="userParams.orderByLocation">
                            Order by Headquarters
                        </button>
                    </div>
                </div>
            </div>
        </div>      -->
    </form>
</div>





<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let cardMember of cardMembers">
            <app-empmember-card [cardMember]="cardMember" ></app-empmember-card>
        </div>
        
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>

