<div class="container-fluid lists mt-3">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Employers Supporting Independent Higher Education in Iowa</h1>
        </div>
        
    </div>
</div>
<hr class="col-12">

<!--card-->

<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-md-4 col-lg-3"> -->

        <div class="col-xl-4 col-md-3 col-md-6" *ngFor="let member of members">
            <app-member-card [member]="member" ></app-member-card>
        </div>
        <!-- </div>  -->
    </div>
</div>

