<section class="signup" *ngIf="ciempLocation">

    <div class="text-center col-sm-4 col-lg-8 col-md-6 p-x m-auto">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Alert: </strong>You have made changes. Any unsaved changes will be lost
        </div>
    </div>

    <div class="card-header col-sm-4 col-lg-8 col-md-6 p-x m-auto">
        <h3 style="text-align: center;">Emp City</h3>
    </div>

    <div class="login col-sm-4 col-lg-8 col-md-6 mx-auto shadow-lg">

        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateCiempLocation()" autocomplete="off">
            <div class="form-group">
                <label class="ciempLocationName"><strong>Emp City Name</strong> </label>
                <input name="ciempLocationName" [(ngModel)]="ciempLocation.ciempLocationName"
                    class="form-control shadow-sm">
            </div>

            <div class="form-group ml-2">
                <label class="ciempLocationSortName"><strong>Emp City Sort Name</strong> </label>
                <input name="ciempLocationSortName" [(ngModel)]="ciempLocation.ciempLocationSortName"
                    class="form-control shadow-sm">
            </div>
        </form>

    <div class="btn-group d-flex">
        <button [disabled]="!editForm.dirty" form="editForm" type="submit" 
        class="btn btn-success shadow-sm mr-2">Save Changes</button>
        <!-- <button class="btn btn-info shadow-sm mr-1" routerLink='/positiondutybullets/{{position.positionId}}'>Cancel</button> -->
        <input type="button" class="btn btn-info shadow-sm ml-2" (click)="cancel()" value="Cancel" />
    </div>

    </div>
</section>
      




