.lists {
  background-color: lightblue;
  /* width: 98%; */
  /* margin-left: 1em;
  margin-right: 1em; */
}

hr {
  width: 95%;
}

.padding {
  padding-bottom: 1rem;
}
.display-4 {
  font-size: 200%;
  font-weight: bold;
}
