<div class="container-fluid lists mt-2 mb-2">
    <div class="row welcome text-center">
        <div class="col-12">
            <h2 class="display-4">Click on buttons to see thumbs-up results</h2>
        </div>
    </div>
</div>


    <ng-container *ngIf="user.appUserType == 'EmpHr'">
        <!-- <div class="text-center mt-3 mr-5">
            <h3><strong>{{predicate === 'liked' ? 'Thumbs-up!' : 'Thumbs-up!' }}</strong></h3>
        </div> -->
    
        <!-- <div class="container mt-3"> -->
            <div class="row">
                <div class="btn-group" name="predicate"> 
    
                    <button class="btn btn-info mr-4 ml-5 mb-2 mt-2" 
                    btnRadio="liked" 
                    [(ngModel)]="predicate" 
                    (click)="loadLikes()">
                    Students to whom we have given a thumbs-up 
                    </button>
    
                    <button class="btn btn-info ml-4 mr-5 mb-2 mt-2" 
                    btnRadio="likedBy" 
                    [(ngModel)]="predicate" 
                    (click)="loadLikes()">
                    Students who have given us a thumbs-up
                    </button>
    
                </div>
            </div>
    
            <div class="container-fluid mt-2">
            <div class="row">
                <div *ngFor="let member of members" class="col-lg-3 col-md-6">
                    <app-likes-card [member]="member" [position]="positions"></app-likes-card>
                </div>
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngIf="user.appUserType == 'ColStudent'">
        <!-- <div class="text-centered mt-3">
            <h2>{{predicate === 'liked' ? 'Companies that might be good fit for me' : 'Companies that have indicated I might be a good fit' }}</h2>
        </div> -->
    
        <!-- <div class="container mt-3"> -->
            <div class="row">
                <div class="btn-group" name="predicate"> 
    
                    <button class="btn btn-info mr-4 ml-5 mb-2 mt-2" 
                    btnRadio="liked" 
                    [(ngModel)]="predicate" 
                    (click)="loadLikes()">
                    Companies to which I have given a thumbs-up
                    </button>
    
                    <button class="btn btn-info ml-4 mr-5 mb-2 mt-2" 
                    btnRadio="likedBy" 
                    [(ngModel)]="predicate" 
                    (click)="loadLikes()">
                    Companies that have given me a thumbs-up
                    </button>
    
                </div>
            </div>
            
            <div class="container-fluid mt-2">
            <div class="row">
                <div *ngFor="let member of members" class="col-lg-3 col-md-6">
                    <app-likes-card [member]="member" [position]="positions"></app-likes-card>
                </div>
            </div>
        </div>
    </ng-container>
    
    <div class="d-flex justify-content-center mt-2" *ngIf="pagination">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
        </pagination>
    </div>

    
    
    
