<section class="signup">
  <div class="card-header col-lg-4 m-auto">
    <h3 style="text-align: center;">Student Sign Up</h3>
  </div>
  <div class="login col-lg-4 m-auto shadow-lg">

    <form [formGroup]='registerStudForm' (ngSubmit)="registerStudForm.valid && registerStud()" autocomplete="off">

      <div class="form-group">
        <input 
          [class.is-invalid]='registerStudForm.get("username").errors 
            && registerStudForm.get("username").touched'
          formControlName='username' 
          class="form-control shadow-sm" 
          type="email"
          pattern="^[a-zA-Z0-9_.+-]+@[A-zA-Z0-9-]+\.edu$" 
          placeholder="Username (college email)">
          <div *ngIf="registerStudForm.get('username').hasError('required')"
            class="invalid-feedback">Please enter a username</div> 
          <div *ngIf="registerStudForm.get('username').hasError('pattern')"
            class="invalid-feedback">Username must be your college email</div> 
      </div>

      <app-text-input [formControl]='registerStudForm.controls["password"]'
        [label]='"Password"'
        [type]='"password"'>
      </app-text-input>

      <app-text-input [formControl]='registerStudForm.controls["confirmPassword"]'
        [label]='"Confirm Password"'
        [type]='"password"'>
      </app-text-input>

      <app-text-input [formControl]='registerStudForm.controls["firstName"]'
        [label]='"First Name"'>
      </app-text-input>

      <app-text-input [formControl]='registerStudForm.controls["lastName"]'
        [label]='"Last Name"'>
      </app-text-input>
      
      <app-text-input [formControl]='registerStudForm.controls["location"]'
        [label]='"Home Town"'>
      </app-text-input>
      
      <div class="form-group">
        <label class="control-label" style="margin-right: 10px"><u>Class Year: </u></label>
        <label class="radio-inline">
          <input type="radio" value='Freshman' formControlName="classYear"> Freshman
        </label>
        <label class="radio-inline">
            <input type="radio" value='Sophomore' formControlName="classYear" class="ml-2"> Sophomore
        </label>
        <label class="radio-inline">
            <input type="radio" value='Junior' formControlName="classYear" class="ml-2"> Junior
        </label>
        <label class="radio-inline">
            <input type="radio" value='Senior' formControlName="classYear" class="ml-2"> Senior
        </label>
      </div>
      
      <app-text-input [formControl]='registerStudForm.controls["major"]'
        [label]='"Major"'>
      </app-text-input>

      <app-text-input [formControl]='registerStudForm.controls["college"]'
        [label]='"College/University"'>
      </app-text-input>

      <app-date-input [formControl]='registerStudForm.controls["gradDate"]'
      [label]='"Graduation Date (approx)"'>
    </app-date-input>

    <div class="row" *ngIf="validationErrors.length > 0" >
      <ul class="text-danger">
          <li  *ngFor="let error of validationErrors">
              {{error}}
          </li>
      </ul>
  </div>  

      <div class="form-group">
        <!-- <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button> -->
        <button [disabled]="!registerStudForm.valid" type="submit" class="btn btn-primary shadow-sm">Sign Up</button>
        <input type="button" class="btn btn-secondary shadow-sm ml-2" (click)="cancel()" value="Cancel" />
      </div>

    </form>
  
  </div>
</section>
  
