<!-- <p *ngFor="let message of messages"> {{message?.content}}</p> -->

<div class="container">
    <div class="card">
        <div class="card-body">
            <!-- #scrollMe
            style="overflow: scroll; height: 250px; width: auto;"
            [scrollTop]="scrollMe.scrollHeight"
        > -->
            <!-- <div *ngIf="(messageService.messageThread$ | async)?.length === 0"> -->
            <div *ngIf="messages?.length === 0">
                <h4><strong>No messages yet...initiate a conversation using message box below</strong></h4>
            </div>

           
                <!-- *ngIf="(messageService.messageThread$ | async)?.length > 0"  -->
                <div class="message-list" style="height:250px;width:100%; overflow: scroll" #messageE1  [scrollTop]="scrollTop">
                <ul *ngIf="messages?.length > 0" class="chat">
                <li *ngFor="let message of messages">
                    <div>
                        <span *ngIf="message.senderAppUserType === 'ColStudent'" class="chat-img float-right">
                            <img class="img-circle rounded-circle"
                                src="{{message.studentSenderUrl || '../../assets/images/coluser.PNG'}}"
                                alt="messsage.senderFirstname">
                        </span>

                        <span *ngIf="message.senderAppUserType === 'EmpHr'" class="chat-img float-right">
                            <img class="img-circle" src="{{message.companySenderUrl || '../../assets/images/logo.PNG'}}"
                                alt="messsage.senderFirstname">
                        </span>

                        <div class="chat-body">
                            <div class="header">
                                <small class="text-muted">
                                    <span class="fa fa-clock-o"> {{message.messageSent | timeago}}</span>
                                    <span class="text-danger" *ngIf="!message.dateRead 
                                    && message.senderUsername !== username">
                                        (unread)
                                    </span>
                                    <span class="text-success" *ngIf="message.dateRead 
                                    && message.senderUsername !== username">
                                        (read {{message.dateRead | timeago}})
                                    </span>
                                </small>
                            </div>
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                </li>
            </ul>
            </div>
        </div>

        <div class="card-footer">
            <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
                <div class="input-group">
                    <input name="messageContent" required [(ngModel)]="messageContent" type="text" 
                        class="form-control input-sm" placeholder="Send a private message">
                    <div class="input-group-append">
                        <button [disabled]="!messageForm.valid || loading" class="btn btn-primary" style="width:auto" >Send
                            <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
