<section class="signup">

    <div class="text-center col-sm-4 col-lg-8 col-md-6 p-x m-auto">
        <div class="alert alert-info" *ngIf="addPositionForm.dirty">
            <strong>Alert: </strong>You have made changes. Any unsaved changes will be lost
        </div>
    </div>

    <div class="card-header col-sm-4 col-lg-8 col-md-6 p-x m-auto">
        <h3 style="text-align: center;">Add a Position for {{user.empName}}</h3>
    </div>

    <div class="login col-sm-4 col-lg-8 col-md-6 mx-auto shadow-lg">

        <form #addPositionForm='ngForm' id="addStudInfoForm" (ngSubmit)="addPosition()" autocomplete="off">

            <div class="form-group">
                <label for="positionIdentifier"><strong>Identifier for position</strong></label>
                <input name="positionIdentifier" [(ngModel)]="model.positionIdentifier" class="form-control shadow-sm"
                    type="text">
            </div>

            <div class="form-group">
                <label for="positionName"><strong>Position Name</strong></label>
                <input name="positionName" [(ngModel)]="model.positionName" class="form-control shadow-sm" type="text">
            </div>

            <div class="form-group">
                <label class="label"><strong>Position Description</strong> </label>
                <textarea name="positionDescription" [(ngModel)]="model.positionDescription"
                    class="form-control shadow-sm">
                      </textarea>
            </div>

            <label class="label mt-2 mb-2"><strong><u>Note:</u> You will be able to add bullet points for <u>Responsibilites and Duties</u> as well as <u>Position Requirements and Preferred Skills</u> after you click the Save Changes button below.</strong> </label>

            <div class="form-group">
                <label class="label"><strong>Type of person we're looking for</strong> </label>
                <textarea name="lookingFor" [(ngModel)]="model.lookingFor" class="form-control shadow-sm">
                      </textarea>
            </div>

            <div class="form-group">
                <label class="label"><strong>Position Benefits</strong> </label>
                <textarea name="positionBenefits" [(ngModel)]="model.positionBenefits" class="form-control shadow-sm">
                      </textarea>
            </div>
        </form>

        <div class="btn-group d-flex">
            <button [disabled]="!addPositionForm.dirty" form="addStudInfoForm" type="submit"
                class="btn btn-success shadow-sm">Save Changes</button>
                <input type="button" class="btn btn-secondary shadow-sm ml-2" (click)="cancel()" value="Cancel" />
        </div>

    </div>

</section>