<div class="container mt-2">
    <div style='text-align: center;'>
        <h1><strong>Sign-up to make connections!</strong></h1>

        <h3 class="mt-4 mb-1" >Employers sign-up here</h3>
        <h3>to connect with students</h3>
        <img src="../../assets/gradcaps.PNG" height="60" class="mt-1 mb-2" alt="">
        <div class="form-group">
            <!-- <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button> -->
            <input type="button" class="btn btn-primary shadow-sm ml-2" (click)="onRegisterEmp()" value="Employer Sign Up"/>
            <input type="button" class="btn btn-secondary shadow-sm ml-2" (click)="cancel()" value="Cancel"/>
          </div>
          
          <h3 class="mt-5 mb-1" >Students sign-up here to</h3>
          <h3>connect with employers</h3>
          <img src="../../assets/cityscape.PNG" height="60" class="mt-1 mb-2" alt="">
          <div class="form-group">
              <!-- <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button> -->
              <input type="button" class="btn btn-primary shadow-sm ml-2" (click)="onRegisterStud()" value="Student Sign Up"/>
              <input type="button" class="btn btn-secondary shadow-sm ml-2" (click)="cancel()" value="Cancel"/>
            </div>
    </div>
</div>



