.positions {
  width: 90%;
}

.button-del {
  color: red;
}

.button-edit {
  color: mediumblue;
}

img {
  max-height: 40px;
  margin-left: 100px;
  /* border: 2px solid #fff;
  display: inline; */
}
