<div class="row shadow mt-3" *ngIf="empIndustries">
    <div class="positions p-0" style="text-align: center;">

        <div>
        <h3 style="text-align: center" class="mb-3"><strong>Industries:</strong></h3>
 
                

        <div class="scroll text-center col-12">
        <table class="table col-2-lg col-3-md col-12-sm" style="text-align: center;">
            
            <tbody>
                
                <tr *ngFor="let empIndustry of empIndustries">
                    <td><h5>{{empIndustry.empIndustryName | titlecase}}</h5></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="container mt-3 col-4">
        <h3 class="text-center"><strong>Add Industry</strong></h3>
        <form #empIndustryForm="ngForm" (ngSubmit)="addEmpIndustry()" autocomplete="off">
            <div class="input-group" >
                <input name="empIndustryName" required [(ngModel)]="empIndustryName" type="text" 
                        class="form-control input-sm long-input mr-2" placeholder="Add Industry">
                    <div class="input-group-append">
                    <button [disabled]="!empIndustryForm.valid || loading" class="btn btn-info ml-2 mb-3 shadow-sm" style="width:auto" >Add Industry
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="text-center col-12">
        <button class="btn btn-info btn-sm shadow-sm mt-4 mb-3" routerLink="/step1registeremp">Back to Step 1</button>
    </div>

        
        <!-- <div class="text-center col-12">
            <button class="btn btn-success btn-sm shadow-sm mt-3 mb-3" routerLink="/positionslist">Back to Positions</button>
        </div> -->
    </div>
    </div>




