<div class="container-fluid lists mt-2" *ngIf="members">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Number of employers that support private higher education in Iowa using your filters: {{pagination?.totalItems}}</h1>
        </div>
    </div>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" 
        (ngSubmit)="loadMembers()" autocomplete="off">
        
                        <div class="form-group form-inline">
                            <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter by industry: </strong></label>
                            <select name="empIndustry" 
                                [(ngModel)]="userParams.empIndustry" 
                                style="width: auto"
                                class="form-control mr-2">
                                <option class="text-center" value="">--Select Industry--</option>
                                <option *ngFor="let empIndustry of empIndustries" 
                                    [value]="empIndustry.empIndustryName">
                                    {{empIndustry.empIndustryName | titlecase}}
                                </option>
                            </select>
                        
                            <label class="mr-2 filter" style="font-size: 1.5em"><strong> Filter by headquarter's location: </strong></label>
                            
                            <select (change)="onSelect($event)" 
                                class=" form-control mr-2"
                                name="stempLocation"
                                style="width: auto">
                                <option class="text-center mb-2" #value="">--1st Select State--</option>
                                <option *ngFor="let stempLocation of stempLocations"
                                    value="{{stempLocation.stempLocationId}}">
                                    {{stempLocation.stempLocationName}}
                                </option>
                            </select>
                        
                            <select class="mr-2 mt-1 ml-1 mb-1 form-group form-control" name="ciempLocation"
                                [(ngModel)]="userParams.ciempLocation"
                                style="width: auto">
                                <option class="text-center" value="">--2nd Select City--</option>
                                <option *ngFor="let ciempLocation of ciempLocations"
                                    [value]="ciempLocation.ciempLocationName">
                                    {{ciempLocation.ciempLocationName | titlecase}}
                                </option>
                            </select>
                        </div>
        
                        <div class="form-group form-inline">
                        <button class="btn btn-success mr-2" type="submit">Apply Filters</button>
                        <button (click)="resetFilters()" class="btn btn-info ml-1 mr-1" type="submit">Reset Filters</button>
    
                        <div class="text-center">
                            <label class="mr-2 ml-3 filter" style="font-size: 1.5em"><strong> Order by: </strong></label>
                        </div>

                        <button 
                            type="button"
                            class="btn btn-primary mr-2"
                            name='orderByEmpName'
                            (click)="loadMembers()"
                            btnRadio='empName'
                            [(ngModel)]="userParams.orderByEmpName">
                            Employer Name
                        </button>

                        <button 
                            type="button"
                            class="btn btn-primary ml-1"
                            name='orderByCiempLocation'
                            (click)="loadMembers()"
                            btnRadio='ciempLocation'
                            [(ngModel)]="userParams.orderByCiempLocation">
                            City Location
                        </button>
                      </div> 
    </form>
</div>





<div class="container-fluid mt-2">
    <div class="row">
        <div *ngFor="let member of members" class="col-lg-3 col-md-6">
            <app-empmember-card-super [member]="member"></app-empmember-card-super>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>


