<div class="card mb-4" *ngIf="cardMember">
    
    <div class="card-header bg-success">
        <div *ngIf="cardMember.registerCode == 'auivd'" class="alevel">
            <!-- {{''}} -->
        </div>
        <div *ngIf="cardMember.registerCode == 'bynxf'" class="b-level text-center p-1">
            {{''}}
        </div>
        <div *ngIf="cardMember.registerCode == 'cnsjf'" class="c-level text-center p-1">
            {{''}}
        </div>
        <div *ngIf="cardMember.registerCode == 'dyrba'" class="d-level text-center p-1">
            {{''}}
        </div>
        <div *ngIf="cardMember.registerCode == 'edkmg'" class="e-level text-center p-1">
            {{''}}
        </div>
    </div>
    
    
    <div class="card-img-wrapper" *ngIf="cardMember.appUserType == 'EmpHr'">
        <img src="{{cardMember.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{cardMember.firstName}}" class="card-img-top">
    </div>   

    <div class="card-body padding p-2">
        
        <h6 *ngIf="cardMember.appUserType == 'EmpHr'" class="card-title text-center mb-1">
            <!-- <span [class.is-online]="(presence.onlineUsers$ | async).includes(member.username)">
                <i class="fa fa-user mr-2"></i> 
            </span> -->
            <u><strong>{{cardMember.empName}}</strong></u>
        </h6>
        
        <ng-container *ngIf="cardMember.appUserType == 'EmpHr'" class="card-text text-muted text-center">
        <p class="text-center">
             Number of employees: {{cardMember.employeeNum}} 
            <br>Industry: {{cardMember.empIndustry}} 
            <br>Headquarters: {{cardMember.location}}
            </p>
        <button class="btn btn-success btn-block shadow-sm mr-2 mb-2" routerLink='/empmembercompdetail/{{cardMember.appUserId}}'>View Company Details</button>
    </ng-container>
        
</div> 
    


