<ng-container *ngIf="cardMember.appUserType == 'EmpHr'">

<div class="card mb-4">

    <div class="card-img-wrapper">
        <img src="{{cardMember.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{cardMember.firstName}}" class="card-img-top">
    </div>   
    
    <div class="card-body p-2">
        <h6 class="card-title text-center mb-1">
            <u><strong>{{cardMember.empName}}</strong></u>
        </h6>
        <p class="card-text text-muted text-center">
            {{cardMember.empIndustry}} industry
            <br> 
            Number of employees: {{cardMember.employeeNum}}
            <br>
            Located in {{cardMember.location}}
        </p>
    </div>
</div>
</ng-container>
