<div class="row shadow mt-3 " *ngIf="profileAdvices">
    <div class="positions p-0" style="text-align: left;">
        <!-- <h3>Id: {{member.appUserId}}</h3>
        <h3>Username: {{member.username}}</h3> -->

        <div>
        <h3 style="text-align: center"><strong>Profile advice for a variety of positions</strong></h3>
       
        <table class="table-bordered col-sm-4 col-lg-8 col-md-6 m-auto">
            <div class="scroll">
            <thead>
                <tr>
                    <th class="p-2"><h5><strong>Position</strong></h5></th>
                    <th class="p-2"><h5><strong>Profile advice</strong></h5></th>
                </tr>

            </thead>
            
            <tbody>
                <tr *ngFor="let profileAdvice of profileAdvices">
                    <!-- <td> <img src="{{position.logoUrl || '../../assets/images/logo.PNG' }}" alt="{{position.empName}}"></td> -->
                    <td class="p-2"><strong>{{profileAdvice.profileAdviceTitle}}</strong></td>
                    <td class="p-2">{{profileAdvice.profileAdviceContent}}</td>
                </tr>
            </tbody>
        </div>
        </table>
    </div>

    <!-- <div class="container mt-3">
        <h4 class="text-center"><strong>Add Profile Advice</strong></h4>
        <form #profileAdviceForm="ngForm" (ngSubmit)="addProfileAdvice()" autocomplete="off">
            <div class="input-group">
                <input name="profileAdviceTitle" required [(ngModel)]="profileAdviceTitle" type="text" 
                    class="form-control input-sm long-input mr-1" placeholder="Add Profile Advice Title">
                <textarea name="profileAdviceContent" required [(ngModel)]="profileAdviceContent"  
                    class="form-control input-sm long-input mr-1 ml-1" placeholder="Add Profile Advice Content"></textarea>
                <input name="order" required [(ngModel)]="order" type="number" 
                    class="form-control input-sm short-input ml-1 mb-3" placeholder="Order # (1.0,2.0,...)">
                    <div class="input-group-append">
                <button [disabled]="!profileAdviceForm.valid || loading" class="btn btn-info ml-2 mb-3 shadow-sm" style="width:auto" >Add Profile Advice
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                </button>
                </div>
            </div>
        </form>
    </div> -->

        <div class="text-center col-12">
            <button class="btn btn-success btn-sm shadow-sm mt-3 mb-3" routerLink="/positionslist">Back to positions</button>
        </div>
    </div>
    </div>




